.gallery {
  min-width: 1128px;
  padding: 100px 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  background-color: white;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  overflow: hidden;
}
.gallery-image {
  height: 300px;
  object-fit: cover;
}
